{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

{# TODO: add search bar #}

{% if topics %}
    
    {{ dump(topics) }}

    <section class="posts">

        {% for topic in topics %}
            
            <article>
                <div class="authorInfo">
                    <figure>
                        <img src="" alt="avatar">

                    </figure>

                    <a href="">
                        <p>{{topic.user.username}}</p>

                    </a>
                </div>

                <p>{{ topic.createdAt |date("m/d/Y")}} </p>

                <a href="">

                    <p>{{ topic.title}} </p>
                </a>


            </article>
        {% endfor %}

    </section>

    {% else %}

        <h3>Sorry there is no topic with this name.</h3>

{% endif %}


{% endblock %}
