{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}

    <h1>Featured Categories</h1>
    <section class="listCategories">

        {% for category in categories %}
            
            <a href="">
                <div class="category">
                    <p>{{ category.name }} </p>
                </div>
            </a>
        {% endfor %}

    </section>
{% endblock %}
